/* Adobe Fonts */
@import url("https://use.typekit.net/zax1juw.css");

.carlmarx {
  font-family: carlmarx, sans-serif;
  font-weight: 700;
  font-style: bold;
}

.ivy {
  font-family: ivystyle-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ivy-bold {
  font-family: ivystyle-sans, sans-serif;
  font-weight: 700;
  font-style: bold;
}

/* Scrolling Wrapper */
.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  flex-direction: row;
}

/* Container for each panel */
.card {
  flex: 0 0 auto;
  min-width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-position: center center;
  scroll-snap-type: start;
  background-size: cover;
}

/* Intro Slide */
#card1 {
  display: flex;
  flex-direction: column;
  background-image: url(./frog-graphics/lilypad-background.png);
  background-size: cover;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

/* Egg Phase Slide */
#card2 {
  display: flex;
  flex-direction: column;
  background-image: url(./frog-graphics/lilypad-background.png);
  background-size: cover;
  text-align: center;
  justify-content: space-around;
}

/* Tadpole Phase Slide */
#card3 {
  display: flex;
  flex-direction: column;
  background-image: url(./frog-graphics/background-pond.png);
  background-size: cover;
  text-align: center;
  justify-content: space-around;
}

/* Tadpole with Legs Phase Slide */
#card4 {
  display: flex;
  flex-direction: column;
  background-image: url(./frog-graphics/background-pond.png);
  background-size: cover;
  text-align: center;
  justify-content: space-around;
}

/* Froglet Phase Slide */
#card5 {
  display: flex;
  flex-direction: column;
  background-image: url(./frog-graphics/lilypad-background.png);
  background-size: cover;
  text-align: center;
  justify-content: space-around;
}

/* Frog Phase Slide */
#card6 {
  display: flex;
  flex-direction: column;
  background-image: url(./frog-graphics/lilypad-background.png);
  background-size: cover;
  text-align: center;
  justify-content: space-around;
}

/* Conclusion Slide */
#card7 {
  display: flex;
  flex-direction: column;
  background-image: url(./frog-graphics/lilypad-background.png);
  background-size: cover;
  text-align: center;
  justify-content: space-around;
}

/* Text Stylign */

h1 {
  font-family: carlmarx, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 2em;
  color: #d7f9f1;
}

p {
  font-family: ivystyle-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #9dae6f;
  font-size: 1em;
}

h2 {
  font-family: carlmarx, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 3em;
  color: #d7f9f1;
  align-items: center;
}

.prompt {
  align-items: center;
}

/* Aesthethics Styling */

body {
  margin: 0;
  scroll-snap-type: x mandatory;
  cursor: url("./frog-graphics/fly.gif"), auto;
}

img {
  align-items: center;
}

i {
  color: white;
  font-size: 2em;
  margin: 10px;
  text-align: left;
  display: flex;
}

.creature {
  width: 30vw;
  align-items: center;
  display: inline-block;
}

nav {
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 100vw;
  overflow: hidden;
}

/* Desktop Styles */
@media only screen and (min-width: 768px) {
}
