/* Adobe Fonts -----------------------*/
@import url("https://use.typekit.net/zax1juw.css");

* {
  overflow-y: hidden;
}

/* html {
  overflow-y: unset;
} */

.carlmarx {
  font-family: carlmarx, sans-serif;
  font-weight: 700;
  font-style: bold;
}

.ivy {
  font-family: ivystyle-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ivy-bold {
  font-family: ivystyle-sans, sans-serif;
  font-weight: 700;
  font-style: bold;
}

/* Scrolling Wrapper -------------------*/
.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  flex-direction: row;
  scroll-snap-type: x mandatory;
}

/* Container for each panel */
.card {
  flex: 0 0 auto;
  min-width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-position: center center;
  scroll-snap-align: start;
  align-items: center;
}

/* Intro Slide */
#card1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  font-size: 1em;
  background-size: cover;
  background-image: url(./frog-graphics/lilypad-background.png);
}

/* Egg Phase Slide */
#card2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  font-size: 1em;
  background-size: cover;
  background-image: url(./frog-graphics/background-pond.png);
}

/* Tadpole Phase Slide */
#card3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  font-size: 1em;
  background-size: cover;
  background-image: url(./frog-graphics/background-pond.png);
}

/* Tadpole with Legs Phase Slide */
#card4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  font-size: 1em;
  background-size: cover;
  background-image: url(./frog-graphics/background-pond.png);
}

/* Froglet Phase Slide */
#card5 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  font-size: 1em;
  background-size: cover;
  background-image: url(./frog-graphics/lilypad-background.png);
}

/* Frog Phase Slide */
#card6 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  font-size: 1em;
  background-size: cover;
  background-image: url(./frog-graphics/lilypad-background.png);
}

/* Conclusion Slide */
#card7 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  font-size: 1em;
  background-size: cover;
  background-image: url(./frog-graphics/background-pond.png);
}

/* Text Styling --------------------*/

h1 {
  font-family: carlmarx, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 2em;
  color: #d7f9f1;
  margin: 1em 0 1em 0;
}

p {
  font-family: ivystyle-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #d7f9f1;
  margin-top: 1em;
}

h2 {
  font-family: carlmarx, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 3em;
  color: #d7f9f1;
  align-items: center;
}

.prompt {
  align-items: center;
  color: #9dae6f;
}

/* Aesthethics Styling ------------*/

/* Cursor Fly */
html {
  cursor: url("./frog-graphics/fly-cursor-small.gif"), auto;
  scroll-behavior: smooth;
  overflow-y: unset;
}

a {
  text-decoration: none;
  cursor: url("./frog-graphics/fly-cursor-small.gif"), auto;
}
/* End Cursor */

body {
  margin: 0;
}

img {
  align-items: center;
}

i {
  color: white;
  font-size: 2em;
  margin: 10px;
  text-align: left;
  display: flex;
}

.creature {
  width: 30vw;
  align-items: center;
  display: inline-block;
}

nav {
  display: grid;
  background-color: transparent;
  width: 100vw;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  top: 0;
}

.text-div {
  max-width: 90vw;
  margin: 1em;
  text-align: justify;
  align-items: center;
}

.grid-frog-chart {
  grid-template-columns: 1fr 2fr 1fr;
  width: 80vw;
}

li {
  font-family: ivystyle-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #9dae6f;
  font-size: 1em;
  margin-top: 1em;
  list-style-type: none;
  text-decoration: none;
  text-align: justify;
}

* {
  overflow-y: hidden;
}

/* Styles for Modal and btn ------------*/

button {
  font-family: ivystyle-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #d7f9f1;
  font-size: 1.5em;
  border: none;
  background-color: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  max-width: 4em;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #546c23;
  border-radius: 25px;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
}

/* The Close Button */
.close {
  color: #9dae6f;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #d7f9f1;
  text-decoration: none;
  cursor: pointer;
}

/* Desktop Styles --------------*/
@media only screen and (min-width: 768px) {
  .text-div {
    max-width: 50vw;
    margin: 0 auto;
  }
}

/* Image Phasing ----------*/
.scene-container {
  max-width: 400px;
  margin: 0 auto;
}

.scene {
  padding-top: 100%;
  background: transparent;
  position: relative;
  width: 338px;
}

.second {
  display: block;
  width: 100%;
  opacity: 0;
  position: absolute;
  transition: opacity 1s;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 90%;
}

.first {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 90%;
  transition: opacity 1s;
}

.scene:hover .second {
  opacity: 1;
}

.scene:hover .first {
  opacity: 0;
}

/*Mobile Only*/
@media only screen and (max-width: 768px) {
  #card7 {
    font-size: 0.8em;
  }
}
